@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Foldit:wght@100;200&family=Josefin+Sans:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;1,700&family=Open+Sans:wght@300;400&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Css carousel start ##################################################################*/
.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
    display: none;
}

.slider-btn {
    cursor: pointer;
}

.slide-content-1 {
    color: rgba(3, 3, 88, 0.959);
    width: 573px;
    height: 281px;
    background-color: white;
    border-radius: 20px;
    margin-top: 0;
    margin-bottom: 130px;
    margin-left: -104px;
}

.slide-content-2 {
    color: rgba(3, 3, 88, 0.959);
    width: 555px;
    height: 251px;
    background-color: white;
    border-radius: 20px;
    margin-top: 0;
    margin-bottom: 155px;
    margin-left: 493px;
}

.slide-content-3 {
    color: rgba(3, 3, 88, 0.959);
    width: 573px;
    height: 281px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 135px;
    margin-left: auto;
    margin-right: auto;
}

.slide-content-1 h1,
.slide-content-2 h1 {
    font-weight: bold;
    font-size: 44px;
    text-align: start;
    padding-left: 48px;
}

.slide-content-1 P,
.slide-content-2 P {
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    text-align: start;
    padding-left: 48px;
}

.slide-content-3 h1 {
    font-weight: bold;
    font-size: 44px;
    text-align: center;
}

.slide-content-3 P {
    font-family: "Mulish", sans-serif;
    padding: 0 33px;
    font-size: 18px;
}

.slide-content-1 button,
.slide-content-2 button {
    display: block;
    padding: 10px 32px;
    border-radius: 30px;
    color: white;
    background-color: rgba(3, 3, 88, 0.959);
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    margin-left: 48px;
    border: none;
}

.slide-content-3 button {
    padding: 10px 32px;
    border-radius: 30px;
    color: white;
    background-color: rgba(3, 3, 88, 0.959);
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    border: none;
}

.slider-images {
    border-bottom: 1px solid gainsboro;
}

.slider-navigation {
    background-color: rgb(243, 242, 242);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.carousel-img {
    height: 590px;
    object-fit: cover;
}


/* Css carousel mobile start  -------------------------------------------------------- */


@media (max-width: 991px) {

    .slide-content-1,
    .slide-content-2,
    .slide-content-3 {
        color: rgba(3, 3, 88, 0.959);
        background-color: rgb(243, 242, 242);
        height: 250px;
        width: auto;
        border-radius: 0px;
        margin: 0;
    }

    .slide-content-1 h1,
    .slide-content-2 h1 {
        font-size: 33px;
        padding-left: 25px !important;
    }

    .slide-content-3 h1 {
        font-size: 33px;
        text-align: start;
        padding-left: 25px !important;
    }

    .slide-content-1 P,
    .slide-content-2 P {
        padding-left: 28px !important;
    }

    .slide-content-3 P {
        font-family: "Mulish", sans-serif;
        font-size: 18px;
        padding-left: 28px;
        text-align: start;
    }

    .slide-content-1 button,
    .slide-content-2 button {
        margin-left: 25px;
    }

    .slide-content-3 button {
        margin-left: 25px;
    }

    .carousel-caption {
        text-align: start;
        position: static;
    }

    .carousel-img {
        max-width: 100%;
        height: 350px;
        object-fit: cover;
    }
}

@media (max-width: 390px) {

    .carousel-caption {
        padding: 0px 0px 40px 0px;
    }

}

/* Css carousel mobile end */

/* Css carousel end ----------------------------------*/

/* Css container desktop design start -----------------------------------------*/

.cards-rows {
    background-color: rgb(243, 242, 242);
    width: 100%;
    padding: 50px 70px 0px 95px;
}

#Meet-para {
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bolder;
    color: rgb(2, 2, 59);
    padding: 55px 0px 20px 0px;
}

#cards {
    background-color: rgb(243, 242, 242);
    border: 1px solid black;
    height: 480px;
    width: auto;
    padding: 15px 0px 0px 17px;
    border-radius: 15px;
    cursor: pointer;
}

@media (min-width: 992px) {

    #cards {
        margin-right: 30px !important;
    }

}

.hover-img {
    overflow: hidden;
    position: relative;
    margin-right: 17px;
}

#img1 {
    width: 230px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

#img2 {
    width: 230px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
    z-index: 1;
}

.hover-img::before {
    content: "";
    display: block;
}

#cards:hover #img1 {
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

#cards:hover #img2 {
    transform: scale(1.05);
}

#cards:hover a {
    text-decoration-line: underline;
}

#cards a {
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(5, 5, 104);
    font-weight: 600;
    padding-top: 20px;
}

.cart-para-text {
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(63, 63, 141);
    padding-top: 4px;
}

#cards span {
    font-size: 15px;
    padding-right: 5px;
    color: rgb(83, 81, 92);
    text-decoration: line-through;
}

.offcanva-btn {
    height: 50px;
    width: 230px;
    border-radius: 25px;
    color: rgb(1, 1, 66);
    border: 1px solid rgb(1, 1, 66);
}

.offcanva-btn:hover {
    border: 2px solid rgb(1, 1, 66);
}

.add-cart-btn {
    cursor: auto;
}

#sale {
    background-color: rgb(94, 94, 236);
    color: white;
    font-size: 14px;
    width: 55px;
    height: 29px;
    text-align: center;
    padding: 5px 8px 2px 10px;
    position: absolute;
    margin: 10px 0px 0px 10px;
}

/* Css card mobile start  -------------------------------------------------------- */

@media (max-width: 991px) {

    .cards-rows {
        padding: 50px 0px 0px 25px;
    }

    #Meet-para {
        font-size: 24px;
        padding: 35px 10px 20px 10px;
    }

    #cards {
        height: 480px;
        width: auto;
        margin: 0 0 20px 0;
        padding: 15px;
    }

    .hover-img {
        width: auto;
        min-width: 100%;
        position: relative;
    }

    #img1 {
        position: absolute;
        width: auto;
        min-width: 100%;
        height: 230px;
    }

    #img2 {
        width: auto;
        min-width: 100%;
        height: 230px;
    }

    .offcanva-btn {
        height: 50px;
        width: 100%;
        max-width: 100%;
    }

}

@media (min-width: 574px) {

    #cards {
        margin-right: 15px;
    }

}

/* Css card mobile end ----------------------------------*/

.content-rows {
    width: 100%;
    padding: 90px 0px 75px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#content-image {
    width: 270px;
}

#ctn-imgall {
    width: 130px;
    margin-left: 55px;
    padding-bottom: 25px;
}

#ctn-img2 {
    width: 70px;
    margin-left: 80px;
    padding-bottom: 25px;
}

#content-image p {
    width: 235px;
    color: rgb(7, 7, 79);
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.01cm;
}

/* Css skincare mobile start  -------------------------------------------------------- */

@media (max-width: 991px) {

    .content-rows {
        width: 100%;
        padding: 50px 0px 20px 0px;
        display: flex;
        flex-direction: column;
    }

    #content-image p {
        padding-bottom: 20px;
    }
}

/* Css skincare mobile end ----------------------------------*/

#list-content-img {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 60px;
}

.white-space-hair,
.white-space-face {
    background-color: white;
    width: 49%;
    height: 550px;
    border-radius: 20px 0px 0px 20px;
    padding: 140px 0px 0px 70px;
}

#hair-img {
    width: 49%;
    height: 550px;
    border-radius: 0px 20px 20px 0px;
}

.white-space-hair h1,
.white-space-body h1,
.white-space-face h1 {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 56px;
    color: rgb(2, 2, 85);
    padding-bottom: 20px;
}

.white-space-hair p,
.white-space-body p,
.white-space-face p {
    width: 440px;
    color: rgba(2, 2, 102, 0.568);
    font-size: 17px;
    padding-bottom: 18px;
    line-height: 1.9rem;
}

.white-space-hair button,
.white-space-body button,
.white-space-face button {
    width: 140px;
    height: 50px;
    font-size: 15px;
    background-color: rgba(1, 1, 63, 0.959);
    color: white;
    border-radius: 25px;
    border: none;
}

#body-img {
    width: 31%;
    height: 355px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 0px 0px 20px;
}

.white-space-body {
    background-color: white;
    width: 67%;
    height: 355px;
    border-radius: 0px 20px 20px 0px;
    padding: 70px 0px 0px 70px;
}

.white-space-body p {
    width: 650px;
}

.white-space-body button {
    width: 150px;
}

.white-space-face p {
    width: 450px;
}

#kits-img {
    width: 31%;
    height: 410px;
    border-radius: 20px 0px 0px 20px;
}

.white-space-kits {
    background-color: white;
    width: 67%;
    height: 410px;
    border-radius: 0px 20px 20px 0px;
    padding: 70px 0px 0px 70px;
}

.white-space-kits p {
    width: 660px;
}

.white-space-kits button {
    width: 140px;
}

/* Css skinpath mobile start  -------------------------------------------------------- */

@media (max-width: 991px) {

    #list-content-img {
        width: auto;
        display: flex;
        flex-direction: column !important;
        padding: 0px 20px 20px 0px;
    }

    #hair-img,
    #body-img,
    #kits-img {
        order: 1;
        width: auto;
        height: 320px;
        border-radius: 20px 20px 0px 0px;

    }

    .white-space-hair,
    .white-space-face,
    .white-space-body,
    .white-space-kits {
        order: 2;
        width: auto;
        height: auto;
        border-radius: 0px 0px 20px 20px;
        padding: 20px;
    }

    .white-space-hair h1,
    .white-space-body h1,
    .white-space-face h1,
    .white-space-kits h1 {
        padding: 0;
    }

    .white-space-hair p,
    .white-space-body p,
    .white-space-face p,
    .white-space-kits p {
        width: auto;
        padding: 0px 0px 5px 4px;
    }
}

/* Css skinpath mobile end ----------------------------------*/

#sdcard-image {
    padding: 20px 0px 60px 0px;
}

.refresh-content {
    background-color: rgb(4, 7, 73);
    width: 100%;
    height: 370px;
}

.refresh-content p {
    color: rgba(220, 220, 220, 0.842);
    text-align: center;
    padding-top: 60px;
    font-size: 17px;
}

.refresh-content h1 {
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.925);
    font-size: 44px;
    text-align: center;
    padding: 10px 280px;
    font-weight: bolder;
}

.product-rows {
    background-color: rgb(4, 7, 73);
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px 35px 0px 65px;
}

.product-rows div {
    width: 250px;
}

.product-rows img {
    width: 90px;
    height: 90px;
    margin-left: 60px;
}

.product-rows h5 {
    width: 220px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.9rem;
    padding: 30px 0px 5px 0px;
}

.product-rows p {
    width: 220px;
    color: rgba(220, 220, 220, 0.842);
    text-align: center;
    line-height: 1.7rem;
    font-size: 16px;
}

/* Css choose-option mobile start  -------------------------------------------------------- */

@media (max-width: 991px) {

    #sdcard-image {
        padding: 20px 0px 30px 0px;
    }

    .refresh-content {
        height: auto;
        padding-bottom: 1px;
    }

    .refresh-content p {
        padding-top: 30px;
    }

    .refresh-content h1 {
        font-size: 28px;
        text-align: center;
        padding: 10px 20px;
    }

    .product-rows {
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 10px 60px;
    }

    .product-rows div {
        width: auto;
    }

    .product-rows img {
        margin-left: 60px;
    }

    .product-rows h5 {
        font-size: 19px;
        padding: 20px 0px 5px 0px;
    }

    .product-rows p {
        font-size: 14px;
    }

}

/* Css choose-option mobile end ----------------------------------*/

.cards-rows h3 {
    font-family: sans-serif;
    color: rgba(3, 3, 88, 0.959);
    font-size: 28px;
    font-weight: bolder;
    padding-top: 55px;
}

#sdcard-image1 {
    padding: 20px 0px 60px 0px;
}

#solution-card {
    background-color: rgb(243, 242, 242);
    height: 520px;
    width: 300px;
    border: 1px solid black !important;
    margin-right: 30px;
    padding: 20px 0px 0px 18px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

#solution-card img {
    width: 330px;
    height: 185px;
    object-fit: cover;
    object-position: center;
    transition: 0.7s;
}

#solution-card img::before {
    content: "";
    display: block;
}

#solution-card:hover img {
    transform: scale(1.05);
}

#solution-card a {
    width: 300px;
    font-family: sans-serif;
    font-size: 25px;
    color: rgba(2, 6, 68, 0.938);
    font-weight: bolder;
    letter-spacing: 0.05rem;
    padding: 20px 0px 5px 15px;
}

#solution-card:hover a {
    text-decoration-line: underline;
}

#solution-card p {
    font-size: 12px;
    font-family: sans-serif;
    color: rgba(2, 6, 68, 0.938);
    font-weight: bold;
    padding-left: 15px;
}

#solution-card h6 {
    width: 310px;
    color: rgba(4, 13, 116, 0.664);
    padding-left: 15px;
    font-weight: lighter;
    line-height: 1.8rem;
}

#viewall-btn {
    background-color: rgba(54, 112, 219, 0.945);
    color: white;
    width: 130px;
    height: 50px;
    margin: 0px 0px 60px 510px;
    border: none;
    border-radius: 25px;
}

#viewall-btn:hover {
    transform: scale(1.02);
}

/* Css bathroom mobile start ----------------------------------*/

@media (max-width: 991px) {

    .cards-rows h3 {
        font-size: 21px;
        padding: 15px 10px 0px 10px;
    }

    #sdcard-image1 {
        padding: 20px 10px 0px 10px;
    }

    #solution-card {
        height: 480px;
        width: auto;
        margin: 0 0 20px 0;
        padding: 15px;
    }

    #solution-card img {
        width: auto;
        min-width: 100%;
        height: 185px;
    }

    .hover-img {
        width: auto;
        min-width: 100%;
        position: relative;
    }

    #solution-card a {
        width: auto;
        font-size: 22px;
        letter-spacing: 0.02rem;
        padding: 20px 0px 5px 5px;
    }

    #solution-card p {
        font-size: 12px;
        padding-left: 8px;
    }

    #solution-card h6 {
        width: auto;
        padding-left: 8px;
    }

    #viewall-btn {
        margin: 0px 0px 30px 100px;
    }

}

/* Css bathroom mobile end ----------------------------------*/

/* Css container desktop design end -----------------------------------------*/