* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.ship-header {
    background-color: rgb(243, 242, 242);
    width: 100%;
}

@media (min-width: 992px) {

#ship-img {
    width: 100%;
    height: 440px;
    object-fit: cover;
    object-position: center;
}

.ship-text {
    background-color: white;
    color: rgba(3, 3, 88, 0.959);
    height: 270px;
    width: 565px;
    position: absolute;
    margin-top: -360px;
    margin-left: 100px;
    border-radius: 20px;
    padding: 40px;
}

.ship-text h1 {
    font-family: sans-serif;
    font-size: 58px;
    font-weight: bolder;
    padding-bottom: 5px;
}

.ship-text p {
    color: rgba(15, 15, 124, 0.753);
    line-height: 1.8rem;
}

.question-row {
    background-color: rgb(243, 242, 242);
    width: 100%;
    padding: 70px 95px;
}

.white-space-ques {
    background-color: white;
    border-radius: 25px;
    padding: 50px 205px;
}

#ques-head {
    color: rgba(3, 3, 88, 0.959);
    font-family: sans-serif;
    font-size: 27px;
    font-weight: bold;
    padding: 0px 0px 20px 0px;
}

}

@media (max-width: 450px) {

    #ship-img {
        max-width: 100%;
        width: 100%;
        height: 330px;
        object-fit: cover;
        object-position: center;
    }

}

@media (max-width: 991px) {

    .ship-header {
        background-color: rgb(243, 242, 242);
        width: 100%;
        padding-bottom: 5px;
    }

    #ship-img {
        max-width: 100%;
        width: 100%;
        height: 330px;
        object-fit: cover;
        object-position: center;
    }

    .ship-text {
        background-color: rgb(243, 242, 242);
        color: rgba(3, 3, 88, 0.959);
        height: auto;
        width: auto;
        padding: 20px 20px 0px 20px;
    }

    .ship-text h1 {
        font-family: sans-serif;
        font-size: 40px;
        font-weight: bolder;
    }

    .ship-text p {
        color: rgba(15, 15, 124, 0.753);
        line-height: 1.8rem;
    }

    .question-row {
        background-color: rgb(243, 242, 242);
        width: 100%;
        padding: 20px 10px 40px 10px;
    }

    .white-space-ques {
        background-color: white;
        border-radius: 25px;
        padding: 30px 15px;
    }

    #ques-head {
        color: rgba(3, 3, 88, 0.959);
        font-family: sans-serif;
        font-size: 24px;
        font-weight: bold;
        padding: 0px 0px 20px 0px;
    }

}

.ques-btn {
    color: rgba(3, 3, 88, 0.959);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 17px;
    padding-left: 0;
    position: static;
}

.bor-1 {
    border-top: 1px solid rgba(128, 128, 128, 0.233);
}

.bor-4,
.list {
    border-bottom: 1px solid rgba(128, 128, 128, 0.233);
}

.ques-btn:hover {
    background-color: rgba(220, 220, 220, 0.356);
    text-decoration: underline;
    cursor: pointer;
}

.body-con {
    padding-left: 7px;
    color: rgba(15, 15, 124, 0.753);
}