*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.blog-rows {
    background-color: rgb(243, 242, 242);
    width: 100%;
    padding: 80px 65px 0px 95px;
}

.blog-rows h3 {
    color: rgba(2, 6, 68, 0.938);
    font-size: 44px;
    font-weight: bold;
    font-family: sans-serif;
}

#sdcard-image1 {
    padding: 20px 0px 30px 0px; 
}

#sdcard-image2 {
    padding-bottom: 30px;
}

#sdcard-image3 {
    padding-bottom: 70px;
}

#blog-card , #hairla-card {
    background-color: rgb(243, 242, 242);
    height: 560px;
    width: 569px;
    border: 1px solid black !important;
    margin-right: 25px;
    padding: 15px 0px 0px 18px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}

#blog-card img , #hairla-card img{
    width: 535px;
    height: 295px;
    object-fit: cover;
    object-position: center;
    transition: 0.9s;
}

.hover-img {
    overflow: hidden;
    position: relative;
    margin-right: 17px;
}

#blog-card img::before , #hairla-card img::before {
    content: "";
    display: block;
}

#blog-card:hover img, #hairla-card:hover img {
    transform: scale(1.04);
}

#blog-card a {
    width: 500px;
    font-family: sans-serif;
    font-size: 25px;
    color: rgba(2, 6, 68, 0.938);
    font-weight: bolder;
    letter-spacing: 0.05rem;
    padding: 20px 0px 5px 10px;
}

#blog-card:hover a {
    text-decoration-line: underline;
}

#blog-card p , #hairla-card p {
    font-size: 12px;
    font-family: sans-serif;
    color: rgba(2, 6, 68, 0.938);
    font-weight: bold;
    padding-left: 10px;
}

#blog-card h6 {
    width: 480px;
    color: rgba(4, 13, 116, 0.664);
    padding-left: 10px;
    font-weight: lighter;
    line-height: 1.8rem;
}

#hairla-card h2 {
    width: 500px;
    font-family: sans-serif;
    font-size: 25px;
    color: rgba(2, 6, 68, 0.938);
    font-weight: bolder;
    letter-spacing: 0.05rem;
    padding: 20px 0px 5px 10px;
}

#hairla-card:hover h2 {
    text-decoration-line: underline;
}

#hairla-card h6 {
    width: 490px;
    color: rgba(4, 13, 116, 0.664);
    padding-left: 10px;
    font-weight: lighter;
    line-height: 1.8rem;
}